<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'/>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Mission to Mars</title>
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">

<!--         <link rel="stylesheet" href="style.css" type="text/css"> -->
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
        
    </head>
    
    <body style="padding-bottom:50px;">
        <div class="container" style="padding-top:50px;">
            <div class="jumbotron text-center">
                <h1 class="font-weight-bold" style="font-size: 4.5em; padding-bottom:20px;">Mission to Mars</h1>
                <a href="../scrape"><button type="button" class="btn btn-primary">Scrape New Data</button></a>
            </div>
        </div>
        
        <div class='container'>
            <div class='row' style="padding-left:10px;">
                <h3>Latest Mars News</h3>
            </div>
            <hr>
            <div class='row'>
                <div class="col-12 col-sm-12">
                    <h5>{{mars_data_dict.news_title}}</h5>
                </div>
                <div class="col col-sm-12">
                    <p>{{mars_data_dict.news_p}}</p>
                </div>
            </div>
            <hr>
        </div>
        
        <div class='container'>
            <div class="row">
                <div class='col col-lg-8 col-md-12'>
                    <div class='row' style="padding-left:10px;">
                        <h3>Featured Mars Image</h3>
                    </div>
                    <div class='row' style="padding-left:10px;">
                        <img src="{{mars_data_dict.featured_image_url}}" alt="Featured Mars Image">
                    </div>
                </div>
                <div class='col col-lg-4 col-md-12'>
                    <div class='row' style="padding-left:10px;">
                        <h3>Mars Facts</h3>
                    </div>
                    <div class='row' style="padding-left:10px;">
                        {{mars_data_dict.facts_table | safe}}
                    </div>
                </div>
            </div>
         </div>  
        
        <div class='container text-center'>
            <hr>
            <h3>Mars Hemispheres</h3>
            <hr>
            <div class='row'>
                {% for hemisphere in mars_data_dict.hemispheres %}
                    <div class="col col-lg-6 col-md-12">
                        <div class='container border' style="margin:10px;padding:10px;">
                            <img src= "{{hemisphere.img_url}}" style="max-width:70%;">
                            <h4>{{hemisphere.title | safe}}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </div>
        
    </body>
